body {
    font-family: Arial;
    background: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
}

.caixa {
    background: white;
    width: 400px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

input {
    width: 70%;
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px;
    background: #4CAF50;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

ul {
    margin-top: 20px;
    list-style-type: disc;
}

li {
    padding: 8px;
    font-size: 16px;
}

footer {
    text-align: center;
    padding: 20px;
    color: #333;
}
